*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(0, 255, 0), yellow);
  font-family: "NTR", sans-serif;
}

h1 {
  font-family: "Mali", cursive;
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 1px 5px black;
  color: yellow;
  text-transform: uppercase;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.input-task {

  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
}

.input-container {
  min-width: 300px;
  position: relative;
}

.add-task {
  width: 40px;
  height: 40px;
  background-color: chocolate;
  position: absolute;
  top: 5px;
  right: 10px;
  color: white;
}

.task-list {
  margin-top: 10rem;
}

.task-list__items {
  display: flex;
  margin-top: 2rem;
  font-family: 'Shadows Into Light', cursive;
  background-color: red;
  width: 300px;
  justify-content: space-between;
  height: 50px;
  padding: .5rem;
}

.task-list__info {
  color: white;
  margin-left: 1rem;
}


.complete-btn {
  height: 100%;
  width: 30px;
  display: inline;
  background-color: rgb(4, 255, 4);
}


.del-btn {
  height: 100%;
  width: 30px;
  display: inline;
  background-color: orange;
}


@media screen and (min-width: 768px) {
    .input-container {
      width: 500px;
    }

    .task-list__items {
      width: 500px;
    }
}
