*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-size: 2rem;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, rgb(0, 255, 0), yellow);
}

h1 {
  font-family: "Mali", cursive;
  font-size: 6rem;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 1px 5px black;
  color: yellow;
  text-transform: uppercase;
}

.task-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.input-task {

  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  font-family: "Mali", cursive;
}

.input-container {
  min-width: 300px;
  position: relative;
}

.add-task {
  width: 40px;
  height: 40px;
  background-color: chocolate;
  position: absolute;
  top: 6.5px;
  right: 10px;
  color: white;
}

.task-list {
  margin-top: 10rem;
  max-height: 500px;
  overflow: auto;
}

.task-list__item {
  display: flex;
  margin-top: 2rem;
  font-family: 'Permanent Marker', cursive;
  background-color: white;
  min-width: 300px;
  max-width: 350px;
  justify-content: space-between;
  height: auto;
  padding: .5rem;
  border-radius: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.task-list__info {
  max-width: 175px;
  margin-left: 1rem;
  word-wrap: break-word;
}

.task-btn-container {
  margin-left: 1rem;
}

.complete-btn {
  height: 100%;
  width: 30px;
  display: inline;
  background-color: rgb(4, 255, 4);
}


.del-btn {
  height: 100%;
  width: 30px;
  display: inline;
  background-color: orange;
}

.complete-btn:hover {
  background-color: rgb(59, 177, 59);
}

.del-btn:hover {
  background-color: rgb(255, 193, 77);
}


@media screen and (min-width: 768px) {
    .input-container {
      width: 500px;
    }

    .task-list__item {
      min-width: 500px;
    }

    .task-list__info {
      max-width: none;
    }
}
